<html>
  <head></head>
  <body>
    <p>
      The SECRET NUMBER is X.  Guess what X is!! :)
    </p>
  </body>
</html>
<form>
  <input type='text' name='guess' />
  <input type='submit' value='Guess!' />
</form>
<body>
  <%= message %>
</body>